.page {

    h1 {
        @apply .font-display .text-5xl .text-textBlue .mb-16;
    }

    h2 {
        @apply .font-display .font-bold .text-3xl .text-textBlue .mt-4 .mb-8;
    }

    h3 {
        @apply .font-display .font-bold .text-2xl .text-textBlue .mt-4 .mb-8;
    }

    h4 {
        @apply .font-display .font-bold .text-xl .text-textBlue .mt-4 .mb-8;
    }

    p {
        @apply .text-2xl .my-6;
    }

    ul {
        @apply .text-2xl .ml-12 .my-6 .list-disc .list-none;

        li {
            @apply .relative .ml-12;

            &:before {
                @apply .rounded-full;
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: -50px;
                top: 10px;
                background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }
        }
    }

    img {
        @apply .border-b-8 .border-highlightTurquoise;
    }

    a {
        @apply .relative .italic;

        &:after {
            content: "";
            position: absolute;
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
            width: 100%;
            height: 6px;
            border-radius: 3px;
            background: #f4e04d;
            left: 0;
            bottom: 3px;
            z-index: -1;
            transition: all 375ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover:after {
            height: 100%;
        }
    }
}
