.book-bg {
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0183f3, #02a3f4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0183f3, #02a3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.book-yellow {
  color: #f1ed8b;
}

.gravatar {
  @apply .absolute .rounded-full .border-solid .border-4 .border-yellow;
  bottom: -5rem;
  left: 50%;
  margin-left: -80px;
}