/**
* GitHub Gist Theme
* Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro */

.hljs-comment,
.hljs-meta {
    color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color: #0086b3;
}

.hljs-section,
.hljs-name {
    color: #63a35c;
}

.hljs-tag {
    color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #795da3;
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea;
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}

.hljs-link {
    text-decoration: underline;
}

pre {
    @apply .mt-8 .mb-8;
}

pre code {
    @apply .text-base .leading-normal .font-mono .p-8 .block .rounded-sm .border .border-solid .border-grey-light .bg-grey-lightest .shadow .overflow-x-scroll;
}

@media (max-width: 600px) {
    pre code {
        margin-left: -14.5px;
        margin-right: -14.5px;
        padding: 14.5px;
        padding-right: 7.25px;
        font-size: .8em;
        border-left: none;
        border-right: none
    }
}

p code {
    @apply .bg-green-lightest .text-green .pr-1 .pl-1;
}