/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ...}
 * .form-input { ...}
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@responsive {
    .profile-column {
        background: url(http://cr18.test/images/cr_image.jpg) no-repeat top center;
        background-size: cover;
    }

    .blogimage {
        @apply .m-8;
    }
}

.note {
    @apply .bg-red-lightest .text-red .mt-4 .mb-4 .pt-4 .pr-8 .pb-4 .pl-8 .font-serif;
}

h1, h2, h3, h4, h5, h5 {
    @apply .text-grey-darkest .mt-12 .mb-6 .font-sans;
}

blockquote {
    @apply .bg-grey-lighter .mt-8 .mb-8 .p-8 .font-serif .text-lg .italic .leading-normal .text-center;
}

p {
    @apply .text-grey-darkest .leading-normal .text-xl .font-serif;
}

article ul {
    @apply .mt-8 .mb-8;
}

li {
    @apply .text-grey-darkest .leading-normal .text-xl .font-serif;
}

a {
    @apply .text-blue-light;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ...}
 * .skew-45 { ...}
 *
 * Or if using a preprocessor..
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.text-shadow {
    text-shadow: 1px 1px 2px #3D4855;
}

@media screen and (min-width: 768px) and ( max-height: 790px ){
    .blogsummary {
        @apply .truncate;
    }
}

@media screen and (min-width: 768px) and ( max-height: 650px ){
    p.blogsummary {
        @apply .hidden;
    }
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs-comment,
.hljs-meta {
    color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color: #0086b3;
}

.hljs-section,
.hljs-name {
    color: #63a35c;
}

.hljs-tag {
    color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #795da3;
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea;
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}

.hljs-link {
    text-decoration: underline;
}

 code {
    font-size: .9em;
    font-family: Source Code Pro, Lucida Console, Lucida Sans Typewriter, monospace;
    font-style: normal !important;
    border-radius: 1px;
    background: #fdfbfb;
    border: 1px solid #f2e8e8;
    padding: 0 .2em
}

 pre {
    margin-bottom: 29px
}

 pre code {
    padding: 29px;
    padding-right: 14.5px;
    margin-left: -.3em;
    margin-right: -.3em;
    display: block;
    border-radius: 1px;
    border: 1px solid #f2e8e8;
    background: #fdfbfb;
    box-shadow: 1px 2px 0 #fbf8f8
}

@media (max-width: 600px) {
    pre code {
        margin-left: -14.5px;
        margin-right: -14.5px;
        padding: 14.5px;
        padding-right: 7.25px;
        font-size: .8em;
        border-left: none;
        border-right: none
    }
}
